* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bluesky {
    width: 32px;
    height: auto;
    margin-bottom: 64px;
}

a {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-decoration: none;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
}


body {
    background-color: black;
}

header {
    display: flex;
    color: white;
    margin-bottom: 1px;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.header-signature img {
    margin-left: 83px;
    margin-top: 19px;
    transform: scale(0.73);
}


.header-signature {
    display: flex;
    position: absolute;
    /* background-color: brown; */
}


nav {
    display: flex;
    position: absolute;
    right: 0;
    
}

ul {
    padding-right: 32px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

li {
    
    padding: 4px 16px;
    background-color: black;
    margin: 16px 16px;
}

.header-image {
    width: 100%;
    height: 100%;
    height: 160px;
    object-fit: cover;
    object-position: left;

}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.thumbnails a {
    display: block;
    width: 100%;
}

.thumbnails img {
    
    padding: 2px;
    display: block;
    width: 100%;
    height: auto;
    max-width: 384px;
}

.thumbnails {
    flex: 1 1 320px;
    max-width: 384px;
}




.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.portfolio {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 1024px;

}


.illustration {
    
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.illustration img {
    margin-top: 2px;
    display: block;
    width: 100%;
    height: auto;
    max-width: 1024px;
}


.description {
    
    display: flex;
    flex-direction: column;
    flex: 1 1 600px;
    padding: 16px;
    margin-bottom: 64px;
}

